{% extends '_base.html' %}
{% load static %}

{% block title %}Products{% endblock title %}

{% block content %}
    <!-- Items Starts Here -->
    <div class="featured-page">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="section-heading">
                <div class="line-dec"></div>
                <h1>Featured Items</h1>
              </div>
            </div>
            <div class="col-md-8 col-sm-12">
              <div id="filters" class="button-group">
                <form action="" method="GET">
                  <button class="btn btn-sm">All Products</button>
                  <button name="low_price" class="btn btn-sm">Low Price</button>
                  <button name="high_price" class="btn btn-sm">High Price</button>
                  <button name="newest" class="btn btn-sm">Newest</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
   
    <div class="featured container no-gutter">
        <div class="row posts">
            {% for product in products %}
                <div id="1" class="item new col-md-4">
                    <a href="{% url 'product_detail' product.id %}">
                        <div class="featured-item">
                            <img src="{{product.picture_2.url}}" alt="">
                            <h4>{{product.title}}: {{product.brand}}</h4>
                            <h6>${{product.price}}</h6>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div> 
  
    <div class="page-navigation">
        <div class="container">
            <div class="center"> 
                {% comment %} <div class="col-md-12"> {% endcomment %}
                  {% if products.has_other_pages %}
                    <ul class="pagination">
                        {% if products.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{products.perivious_page_number}}"><i class="fa fa-angle-left"></i></a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-left"></i></a>
                            </li>
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                            {% if products.number == i %}
                                <li class="page-item"><a class="page-link" active href="#">{{i}}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                        {% endfor %}
                        
                        {% if products.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{products.next_page_number}}"><i class="fa fa-angle-right"></i></a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-right"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                  {% endif %}
                {% comment %} </div> {% endcomment %}
            </div> 
        </div>
    </div>
    <!-- Featred Page Ends Here -->
{% endblock content %}